/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   USEFUL CLASSSES
   ========================================================================== */

.lighter {
    font-weight: 300;
}
.nocaps {
    text-transform: none;   
}
.centred {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
}
.lightblue {
    color:#0098cc;
}
.darkblue {
    color: #2f4152;   
}
.align-centre {
    text-align: center;
}
.table {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
    width: 50%;
}
.table-cell + .table-cell {
    padding: 0 0 0 50px;
}
/* ==========================================================================
   ELEMENTS
   ========================================================================== */
h1 {
    font-size: 80px;
	font-size:5rem;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
	font-size:1.875rem;	
    margin: 75px 0 25px;
}
p {
    margin: 0;
}
ul {
    list-style: circle;
}
li + li {
    margin: 10px 0 0;
}
a {
    color: #6d7a86;
    text-decoration: underline;
    /**/
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
a:visited {
    text-decoration: none;
}
a:hover,a:active,a:focus {
    color: #fff;
    text-decoration: none;
}
a[target="_blank"] {
    position: relative;
}
a[target="_blank"]:after {
    background: url('../img/link.png') no-repeat 0 0;
    background-size: 20px;
    content: '';
    display: block;
    height: 20px;
    margin: -10px 0 0;
    opacity: 0;
    position: absolute;
    right: -30px;
    top: 50%;
    width: 20px;
    /**/
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /**/
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}
a[target="_blank"]:hover:after,a[target="_blank"]:active:after,a[target="_blank"]:focus:after {
    opacity: 1;
    /**/
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
/* ==========================================================================
   SITE
   ========================================================================== */
.intro {
    background: url('../img/fd.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    position: relative;
    text-align: center;
}
.intro h1 {
    left: 0;
    margin: -80px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.info {
    background:#2f4152;
    color: #fff;
    font-size: 20px;
	font-size:1.25rem;
    padding: 100px 0;
}
.photo {
    border:10px solid #6d7a86;
    margin: 0 auto 50px;
    overflow: hidden;
    width: 300px;
    /**/
    -webkit-border-radius:300px;
    border-radius:300px;
}
ul.social {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}
.social li + li {
    margin: 15px 0 0;
}
.social li a {
    background: url('../img/twitter.png') no-repeat 0 50%;
    background-size: 40px;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height:50px;
    opacity: 0.7;
    padding: 0 0 0 70px;
    text-decoration: none;
    /**/
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.social .linkedin a {
    background-image: url('../img/linkedin.png');
}
.social .github a {
    background-image: url('../img/github.png');
}
.social .flickr a {
    background-image: url('../img/flickr.png');
}
.social li a:hover,.social li a:active,.social li a:focus {
    opacity: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
	   font-size:2.5rem;
    }
    .table,
    .table-cell {
        display: block;
        width: auto;
    }
    .table-cell + .table-cell {
        padding: 0;
    }
    .align-centre {
        text-align: left;
    }
    .photo {
        height: 250px;
        width: 250px;
    }
    .photo img {
        height: auto;
        width: 250px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}